
@{
    ViewData["Title"] = "Home Page";
}
@using TestTask.Components

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <component type="typeof(Home)" render-mode="ServerPrerendered"></component>
</div>


