
@using TestTask.Components

<div>
    <form asp-controller="Home" asp-action="ListOfSubstations" method="post" enctype="multipart/form-data">
        <label class="input-file">
            <input type="file" name="file">
        </label>
        <button type="submit" class="btn btnSave">Загрузить</button>
    </form>
</div>
<div>
    <component type="typeof(Table)" render-mode="ServerPrerendered"></component>
    
</div>




